
:root{
    --trend-color:#2196F3;
}
body {
    font-family: "Roboto", sans-serif;
}
li {list-style: none;
}
 a {
    text-decoration: none;
} 

/* header navigation */
.header {
    background:#FFFFFF;
    
}
.header-link{
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 1.14;
    color: #212121;
    }
    .header-contacts{
        Font-style: Medium;
        Font-size: 14px;
        Line-height: 16px;
        Line-height: 1.14;
         color:#757575;
    }
    .ferst-fase{
        Font-style: Black;
        Font-size: 44px;
        Line-height: 60px;
        Line-height: 1.36;
    }
.header-link:hover, 
.hesder-link:focus
{
    color: var(--trend-color); 
}
.header-webadres {
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 1.14;    
    color: var(--trend-color); 
    }
   
    /* navigation .button */

.button{
    color:#212121;
    cursor:pointer;
    Font-style: Medium;
    Font-size: 16px;
    Line-height: 26px;
    Line-height: 1.63;
    cursor: pointer;
}
.ferst-button{
    background:var(--trend-color);
    Font-style: Bold;
    Font-size: 16px;
    Line-height: 30px;
    Line-height: 1.87;
    cursor: pointer;
}

.button.last{
    background-color: #F5F4FA;
    cursor: pointer;
}
.button .button-ferst {
    background:var(--trend-color);
    cursor: pointer;
   }

/* team */



/* .navigation .button:hover, 
.navigation .button:focus {
background-color: var(--trend-color);
    } */

/* ferst content */
ferst-fase{
    color: #FFFFFF;
}
.ferst-button{
    background: var(--trend-color);
    color:#FFFFFF;
}
.button-nav{
   color: var(--trend-color);
    
}
/* краткое описание отличий */
.difference{
    color:#212121;
    Font-style: Bold;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 1.12;
}

.difference-p{
    color: #757575;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 24px;
    Line-height: 1.7;
}
    /* class work = class team */
.work {
    color:#212121;
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 42px;
    Line-height: 1.17;

}
.team-name{
    Font-style: Bold;
    Font-size: 16px;
    Line-height: 30px;
    Line-height: 160%;
    color:#212121;
}
.team-position{
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 1.16;
    color: #757575;
}
    .works-text {
        Font-style: Bold;        
        Font-size: 18px;
        Line-height: 36px;
        Line-height: 2;
        color: #212121;
    }
    .works-symbol{
        Font-style: Regular;
        Font-size: 16px;
        Line-height: 30px;
        Line-height: 1.87;
        color: #757575;
    }


/* footer */
.footer {
    background: #2F303A;    }
.fotter-logo{
    /* color:#FFFFFF; */
    Font-family: Raleway;
    Font-style: Bold;
    Font-size: 56px;
    Line-height: 31px;
    Line-height: 1.8;
}

.footer-adress{
     color: #FFFFFF;
    font-style: Regular;
    Font-size: 14px;
    Line-height: 24px;
    Line-height: 1.7;
   
}
.footer-contakts{
        font-style: Regular;
    Font-size: 14px;
    Line-height: 24px;
    Line-height: 1.7;
     color: rgba(255, 255, 255, 0.6);
}
